/*==============================================
                   FONTS
==============================================*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
    font-family: "JetBrains Mono", monospace;
    box-sizing: border-box;
}

/*==============================================
                   SCROLLBAR
==============================================*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #373b3e;
}
::-webkit-scrollbar-thumb {
    background: #0c0d0e;
}
::-webkit-scrollbar-thumb:hover {
    background: #0c0d0e;
}
/*==============================================
                  ELEMENTS
==============================================*/
:root {
    --darkest: #000000;
    --darker: #202020;
    --dark: #252525;
    --mid: #313131;
    --light-mid: #515151;
    --bright: #cccccc;
    --brighter: #ffffff;

    --link: #7287fa;
}

html {
    min-width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    color: var(--bright);
}
body {
    min-width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var(--darker);
    scroll-behavior: smooth;
}
header {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--dark);
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}
header div a {
    text-decoration: none;
    color: var(--bright);
    font-size: larger;
    padding-inline: 15px;
}
hr {
    height: 1px;
    border: 1px solid var(--darker);
}
.thing {
    height: 1px;
    margin-top: 14px;
}
/*==============================================
                    UTILS
==============================================*/
.bright {
    color: var(--brighter);
}
.art {
    margin-inline: 40px;
}
@media (width <= 1100px) {
    .art {
        margin-inline: 0px;
    }
}
.rel {
    position: relative;
}
