@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: "JetBrains Mono", monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #373b3e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c0d0e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c0d0e;
}
hr {
  border: 1px solid rgb(88, 88, 88);
  height: 0px;
}
a {
  text-decoration: none;
  color: rgb(74, 123, 228);
}
table {
  border: 1px solid rgb(88, 88, 88);
  border-collapse: collapse;
}
td, th {
  border: 1px solid rgb(88, 88, 88);
  padding: 10px;
  font-weight: normal;
}
table thead tr th {
  font-weight: bolder;
}
#copyrightnotice {
  font-size: small; 
  margin-top: 50px; 
  color: white; 
  background:rgb(80, 80, 80); 
  padding: 5px; 
  width: 100%; 
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#copyrightnoticeRaw {
  font-size: small; 
  margin-top: 50px; 
  color: white; 
  background:rgb(80, 80, 80); 
  padding: 5px; 
  width: 100%; 
  box-sizing: border-box;
}
button {
  background: #0c0d0e;
  color: white;
  border: 1px solid #404244;
  padding: 5px;
  border-radius: 5px;
  transition: background 0.05s linear;
  vertical-align: middle;
  box-sizing: border-box;
}
button:hover {
  background: #202224;
}/*
code {
  background-color: #171818;
  width: 100%;
}
.language-js {
  display: block;
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}*/

::selection {
  background-color: #838383;
  color: black;
}


/**          ALERTS           **/

.info {
  --color: white;
  --tcolor:rgb(84, 226, 226);
  --bg: rgba(33, 150, 150, 0.5);
  --name: "Info: ";
}
.warn {
  --color: white;
  --tcolor:rgb(226, 160, 84);
  --bg: rgba(150, 119, 33, 0.5);
  --name: "Warning: ";
}
.caution {
  --color: white;
  --tcolor:rgb(226, 89, 84);
  --bg: rgba(150, 33, 33, 0.5);
  --name: "Caution: ";
}
.tip {
  --color: white;
  --tcolor:rgb(112, 226, 84);
  --bg: rgba(33, 150, 52, 0.5);
  --name: "Tip: ";
}

.alert {
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
  color: var(--color);
  background-color: var(--bg);
  box-sizing: border-box;
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tcolor);
}
.alert p {
  padding-left: 0.5rem !important;
  padding: 0px;
  margin: 0px;
}
.alert::before {
  content: var(--name);
  color: var(--tcolor);
  font-weight: bold !important;
}
