.tab {
    background-color: var(--mid);
    width: fit-content;
    padding: 15px;
    font-size: larger;
    font-weight: bold;
    box-shadow: -5px 5px 0px 0px var(--light-mid) inset;
    border-left: 5px solid var(--darkest);
}
.tab-contents {
    box-shadow: -5px 5px 0px 0px var(--light-mid) inset;
    border-left: 5px solid var(--darkest);
    background-color: var(--mid);
    width: 100%;
    padding: 15px;
    border-bottom: 5px solid var(--darkest);
}
.tab-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}
.card {
    box-shadow: -5px 5px 0px 0px var(--light-mid) inset;
    border-left: 5px solid var(--darkest);
    border-bottom: 5px solid var(--darkest);
    padding: 15px;
    margin: 15px;
    width: 500px;
    min-width: 400px;
    max-width: 500px;
    box-sizing: content-box;
}
.card-banner {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
}
.card-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    aspect-ratio: 1/1;
    height: 50%;
    border: 3px solid var(--bright);
    border-radius: 15px;
    object-fit: contain;
}
.card-title {
    font-size: larger;
    color: var(--brighter);
    text-align: center;
}
@media (width <= 1100px) {
    .card {
        width: 100%;
        margin: 0px;
        box-sizing: border-box;
    }
    .tab-contents {
        box-shadow: none !important;
        border: none !important;
        padding: 0px;
    }
    .tab-row {
        flex-direction: column;
        align-items: center;
    }
}
.banner-bg {
    width: 100%;
}
.shorthand-download {
    color: var(--link);
}
